.calendar {
}

.custom-input {
  width: 100%;
  padding: 1.5rem 1rem !important;
  transition: all 0.2s ease;
  font-family: inherit;
  border: 1px solid #e0e0e2;
  font-size: 1.5rem !important;
}

.custom-wrapper {
  width: 100%;
}
