.demo-wrapper {
  border: 1px solid #e0e0e2;
  position: relative;
}

.demo-editor {
  min-height: 20rem;
}

.toolbar-class {
  direction: rtl;
  display: flex;
  justify-content: space-between !important;
  font-family: tahoma;
}
